/*--- Mapa ---*/
#map{
    position: absolute;
    width: 100%;
    height: 100%;
}
.visible{
    display: none;
}

@import "partials/_variables";
@import "partials/_mixins";
@inport "partials/_mensaje";
@import "partials/_menu";
@import "partials/_datos";
@import "partials/_vehiculo";
@import "partials/_media";
