/*--- Cuadro de selct ---*/
#home-sec{
    .form-group{
        width: 90%;
    }
    .form{
        @include cuadro;
        margin-top: 80px;
    }
    .submit{
        @include boton();
    }
    .km{
        color: white;
    }
}
