#info{
    img, p{display: inline;}
    p, .pasajeros{float: right;}
    li{
        list-style: none;
        margin: 10px auto;
        height: 40px;
    }
    .pasajeros{
        width: 50px;
    }
    .form{
        @include cuadro();
    }
    .submit{
        @include boton();
    }
}